In [1]:
import pandas as pd
import sqlite3 as sql
from pandasql import sqldf

In [2]:
cities = pd.read_csv('cities.csv')

In [3]:
economies = pd.read_csv('economies.csv')

In [4]:
countries = pd.read_csv('countries.csv')

In [8]:
cnn = sql.connect('cities.db')

In [9]:
cities.to_sql('cities', cnn)

236

In [10]:
%load_ext sql

In [16]:
%sql sqlite:///cities.db

Connecting and switching to connection 'sqlite:///cities.db'

In [17]:
%%sql 
SELECT *
FROM cities

Running query in 'sqlite:///cities.db'

+-------------+--------------+-----------------+---------------+---------------+
|     name    | country_code | city_proper_pop | metroarea_pop | urbanarea_pop |
+-------------+--------------+-----------------+---------------+---------------+
|   Abidjan   |     CIV      |     4765000     |      None     |    4765000    |
|  Abu Dhabi  |     ARE      |     1145000     |      None     |    1145000    |
|    Abuja    |     NGA      |     1235880     |   6000000.0   |    1235880    |
|    Accra    |     GHA      |     2070463     |   4010054.0   |    2070463    |
| Addis Ababa |     ETH      |     3103673     |   4567857.0   |    3103673    |
|  Ahmedabad  |     IND      |     5570585     |      None     |    5570585    |
|  Alexandria |     EGY      |     4616625     |      None     |    4616625    |
|   Algiers   |     DZA      |     3415811     |   5000000.0   |    3415811    |
|    Almaty   |     KAZ      |     1703481     |      None     |    1703481    |
|    Ankara   |     TUR      |     5271000     |   4585000.0   |    5271000    |
+-------------+--------------+-----------------+---------------+---------------+
Truncated to displaylimit of 10.