## Introduction to Snowflake SQL

In [ ]:
Connecting to Snowflake: Drivers 
Drivers & Connectors 
ODBC (Open Database Connectivity)
JDBC (Java Database Connectivity)
Connectors : Python, Spark, and more

### Querying using Snowflake SQL
You are consulting as a Data Engineer at Pissa, an expanding pizza delivery company. Their database has four tables: pizzas, pizza_types, orders, and order_details. You can view each table from the SQL console:

SQL console

As part of their transition from PostgreSQL to Snowflake, you're now examining the different columns in the pizzas table. Are you ready to refresh your SQL skills?

In [ ]:
-- Select pizza_type_id, pizza_size, and price from pizzas table
SELECT pizza_type_id,
    pizza_size,
    price
FROM pizzas

### Filtering in Snowflake SQL
As part of Pissa's migration from PostgreSQL to Snowflake, ensuring data integrity and correctness of the data after migration is crucial.

You're specifically working with the pizza_type table, which contains the following columns: pizza_type_id, name, category, and ingredients.

Let's apply your SQL skills to Snowflake!

In [ ]:
-- Count all pizza entries
SELECT COUNT(pizza_type_id) AS count_all_pizzas
FROM pizza_type

In [ ]:
-- Count all pizza entries
SELECT COUNT(*) AS count_all_pizzas
FROM pizza_type
-- Apply filter on category for Classic pizza types
WHERE category LIKE 'Classic'

## Snowflake data types

In [ ]:
Common data types 
Category     Data types
Text/string  VARCHAR, CHAR, TEXT
Numeric      INTEGER 
Boolean      BOOLEAN
Date/time    DATE, TIME, TIMESTAMP

In [ ]:
Snowflake SQL data types - NUMBER 
NUMBER(p, s)

NUMERIC works in Snowflake as an alias for NUMBER 
p = precision; s = scale
Max p and s values: 38
Exceeding will cause rounding!

In [ ]:
Snowflake SQL data types - TIMESTAMP_LTZ 
TIMESTAMP_LTZ
Combines DATE and TIME with localtime zone
Format: YYYY-MM-DD HH:MI:SS

In [ ]:
CREATE TABLE orders (
    -- Timestamp with local time zone  
    order_timestamp 
    TIMESTAMP_LTZ
)

In [ ]:
Data type conversion - How?
1. CAST 
Syntax: CAST( <source_data/column> AS <target_data_type> )
CAST('80' AS INT)
2. :: Syntax: <source_data/column>::<target_data_type>
'80'::INT

In [ ]:
SELECT 
CAST(order_timestamp AS DATE)
AS order_date
FROM orders

In [ ]:
Conversion functions 
Examples: TO_VARCHAR, TO_DATE, etc.
TO_VARCHAR 
TO_VARCHAR( <expr> )expr - numeric, timestamp, etc.
Result: VARCHAR

In [ ]:
SELECT TO_VARCHAR(86)

In [ ]:
Checking data types
DESC TABLE orders

### Checking data types
As a Data Engineer, it is important to understand how and where your data is stored so that you can optimize for cost, speed, and accuracy.

You are still familiarizing with the data at Pissa, so you decide to get storage information about the columns in one of their tables.

In [ ]:
-- Get information about the orders table
DESC TABLE orders

### Data type conversion
When working with databases, there are times when you need to change the data type of a column to better suit your operations or analyses.

Continuing your Data Engineer role at Pissa, you will practice converting data between types.

In [ ]:
-- Convert order_id to VARCHAR aliasing to order_id_string
SELECT CAST(order_id AS VARCHAR) AS order_id_string
FROM orders

In [ ]:
SELECT price, 
-- Convert price to NUMBER data type
price::NUMBER AS price_dollars
FROM pizzas

## Functions, sorting, and grouping

In [ ]:
String functions - INITCAP 
Syntax: INITCAP( <expr> )
Capitalize each word in a string

SELECT INITCAP(category) AS capitalized_category FROM pizza_type

In [ ]:
String functions - CONCAT 
Combines the expressions
Syntax:CONCAT( <expr1> [ , <exprN> ... ] )

SELECT CONCAT(category, ' - Pizza') AS pizza_category FROM pizza_type

In [ ]:
DATE & TIME functions
CURRENT_DATE() or CURRENT_DATE 
CURRENT_TIME() or CURRENT_TIME

SELECT CURRENT_DATE
SELECT CURRENT_TIME

In [ ]:
EXTRACT 
Syntax EXTRACT( <date_or_time_part> FROM <date_or_time_expr> ) 
<date_or_time_part> - year, month, day, weekday, etc.

In [ ]:
SELECT EXTRACT(MONTH FROM order_date) AS order_month,
COUNT(*) AS num_orders 
FROM orders 
GROUP BY order_month

In [ ]:
SORTING and GROUPING 
SORTING: ORDER BY 
GROUPING: GROUP BY
Snowflake: GROUP BY ALL

In [ ]:
SELECT pizza_type_id, size, AVG(price) AS average_price
FROM pizzas
GROUP BY pizza_type_id, size -- explicit columns 
ORDER BY pizza_type_id, average_price DESC

In [ ]:
Group By All
SELECT pizza_type_id, size, AVG(price) AS average_price
FROM pizzas 
GROUP BY ALL -- Don't specify columns 
ORDER BY pizza_type_id, average_price DESC

### String functions
Having recently mastered some Snowflake SQL string functions, you're ready to put them into practice using Pissa's database!

In [ ]:
-- Capitalize each word in pizza_type_id
SELECT INITCAP(pizza_type_id) AS capitalized_pizza_id 
FROM pizza_type;

In [ ]:
-- Combine the name and category columns
SELECT CONCAT(name, ' - ', category) AS name_and_category
FROM pizza_type

### DATE & TIME
As a Data Engineer at Pissa, you are now focusing on timestamp-related columns in their raw pizzas data.

Use your knowledge of date and time functions to accomplish the tasks.

In [ ]:
-- Select the current date, current time
SELECT CURRENT_DATE, CURRENT_TIME

In [ ]:
-- Count the number of orders per day
SELECT COUNT(*) AS orders_per_day, 
-- Extract the day of the week and alias to order_day
	EXTRACT(WEEKDAY FROM order_date) AS order_day
FROM orders
GROUP BY order_day
ORDER BY orders_per_day DESC

### Functions & Grouping
You're examining pizza order details at Pissa. The team is interested in investigating revenue generated by different pizza sizes per month.

Complete the query using your knowledge of aggregate functions, sorting, and grouping to support the team with their analysis.

In [ ]:
-- Get the month from order_date
SELECT EXTRACT(MONTH FROM order_date) AS order_month, 
    p.pizza_size, 
    -- Calculate revenue
    SUM(p.price * od.quantity) AS revenue
FROM orders o
INNER JOIN order_details od USING(order_id)
INNER JOIN pizzas p USING(pizza_id)
-- Appropriately group the query
GROUP BY order_month, p.pizza_size
-- Sort by revenue in descending order
ORDER BY order_month, p.pizza_size

In [ ]:
-- Get the month from order_date
SELECT EXTRACT(MONTH FROM order_date) AS order_month, 
    p.pizza_size, 
    -- Calculate revenue
    SUM(p.price * od.quantity) AS revenue
FROM orders o
INNER JOIN order_details od USING(order_id)
INNER JOIN pizzas p USING(pizza_id)
-- Appropriately group the query 
GROUP BY ALL
-- Sort by revenue in descending order
ORDER BY revenue DESC;